@model KarateClub.Application.ViewModels.NewsViewModel;
@{
    //ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<section id="content-wrapper">
    <div class="container_12">

        <article class="grid_12 latest-blog-posts">
            <!-- .section-title .center start -->
            <section class="section-title center">

                <!-- .ttile-container .carousel start -->
                <div class="title-container">
                    <section class="title">
                        <h2>آخرین اخبار</h2>
                        <span>آخرین اخبار از آکادمی و خارج از آکادمی</span>
                    </section>
                </div><!-- .title-container .carousel end -->
            </section><!-- .section-title .center end -->

            @if (Model.News != null)
            {
                string image = "";
                @foreach (var news in Model.News)
                {
                    @if (news.Title3 != null) { image = news.Title3; } else { image = "img/blog/no-image.jpg"; }
                    <!-- .grid_6 start -->
                    <article class="grid_6 alpha">
                        <section class="post-info">
                            <img src="@image" alt="@news.Title1" />

                        </section>

                        <section class="post-body">
                            <div class="post-meta">
                                <div class="hidenDiv">
                                </div>

                                <div class="title-date">
                                    <a>
                                        <h6>@news.Title</h6>
                                    </a>
                                    <span class="date">@news.Title2</span>
                                </div>
                            </div>

                            <p>
                                @news.Description
                            </p>

                            <div class="read-more-btn">
                                <a href="blog-single.html">جزییات</a>
                                <span class="plus">+</span>
                            </div>
                        </section><!-- .post-body end -->

                    </article><!-- .grid_6 end -->
                }
            }
            else
            {
                <div class="error-box">
                    <br />
                    <strong>&nbsp;&nbsp;&nbsp;مشکلی در بارگزاری داده ها به وجود آمده است لطفا مجددا تلاش بفرمایید</strong>
                    <br />
                    <strong>&nbsp;</strong>
                </div>
                <br />
                <br />
            }

        </article><!-- .grid_12 end -->
        <ul class="grid_12 blog-posts">
            <li class="pagination">
                @*<a class="pagination-prev" href="#">&#60; قبلی</a>*@
                <div class="pager">
                    <ul>
                        <li>
                            <a href="#"><</a>
                        </li>
                        @for (int i = 1; i <= (ViewBag.Count + 1); i++)
                        {
                            <li class="@(((int)ViewBag.StartIndex == i)?"active":"")">
                                <a href="/News/Index?startIndex=@i">@i</a>
                            </li>
                        }

                        <li>
                            <a href="#">></a>
                        </li>
                    </ul>
                </div>
                @*<a class="pagination-next" href="#">بعدی &#62;</a>*@
            </li><!-- .pagination end -->
        </ul>
    </div><!-- container_12 end -->
</section><!-- #content-wrapper end -->
